.skill {
    margin: 50px auto;
    width: 80%;
    display: flex;
    max-width: 100%;
}

.img-s {
    width: 50%;
}
.txt-s {
    width: 50%;
    margin: auto 0;
}
.img-s img {
    /* margin-top: 48px !important; */
    width: 100%;
}

.skill h3 {
    text-align: left;
    font-size: 1.3em;
    margin: 15px 0;
}
.skill .langage {
    margin-top: -10px !important;
    margin-bottom: 15px;
}

.programming-language {
    display: flex;
    flex-wrap: wrap;
}
.library {
    display: flex;
}
.libraryCMS {
    position: relative;
}

.skill .element {
    width: 15%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}
.skill .element label {
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    margin-top: 15px;
}
.skill .element input {
    width: 80%;
    margin-top: 5px;
}

.CircularProgressbar, .CircularProgressbar-path {
    stroke: #846b46 !important;
}


.flex-column {
    display: flex;
}
.flex-column .element {
    width: 10%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}


.study {
    margin: 50px auto;
    width: 80%;
    display: flex;
}

.img-study {
    width: 50%;
    padding: 0px 75px;
    margin: auto 0;
}
.txt-study {
    width: 80%;
    margin: 0 auto;
}
.txt-study div {
    text-align: left;
}
.img-study img {
    width: 100%;
}
@media (max-width:767px) {
    .txt-study {
        width: 100% !important;
    }
}


@media screen and (max-width: 1200px) {
    .skill, .study {
        flex-direction: column;
        display: block;
    }
    .img-s, .img-study {
        width: 70%;
        margin: 0 auto !important;
    }
    .txt-study {
        width: 80%;
        text-align: center;
    }
    .txt-s {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}
/* @media screen and (max-width: ) {

} */