.skill {
    margin-top: 50px;
    display: flex;
}

.img-s {
    width: 50%;
    padding: 0px 75px;
    margin: auto 0;
}
.txt-s {
    width: 50%;
    padding: 0px 75px;
    margin: auto 0;
}
.img-s img {
    /* margin-top: 48px !important; */
    width: 100%;
}

.skill h3 {
    text-align: center;
    margin: 15px 0;
}
.skill .langage {
    margin-top: -10px !important;
    margin-bottom: 15px;
}

.skill .element {
    width: 100%;
    margin: 20px 0;
    display: flex;
}
.skill .element label {
    width: 20%;
    margin-right: 20px;
    font-size: 1.2em;
    font-weight: 600;
}
.skill .element input {
    width: 80%;
    margin-top: 5px;
}


.study {
    margin-top: 50px;
    display: flex;
}

.img-study {
    width: 50%;
    padding: 0px 75px;
    margin: auto 0;
}
.txt-study {
    width: 50%;
    padding: 0px 75px;
    margin: auto 0;
}
.img-study img {
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .skill, .study {
        flex-direction: column;
        display: block;
    }
    .img-s, .img-study {
        width: 70%;
        margin: 0 auto !important;
    }
    .txt-s, .txt-study {
        width: 80%;
        text-align: center;
    }
}
/* @media screen and (max-width: ) {

} */