.billy-img {
    width: 200px;
    display: block;
    margin: 0 auto;
    border: 5px solid #8d693e;
    border-radius: 50%;
}
.name {
    margin: 0 !important;
    font-size: 4rem;
    color: whitesmoke;
}
.surname {
    font-size: 3rem;
    color: #8d693e;
}
.web-dev {
    color: #b7915a;
    font-size: 3em;
    font-style: italic;
}
.front-end {
    font-size: 1.5em;
    font-weight: 600;
    color: whitesmoke;
}

.home-container {
    margin-top: -110px;
    background-image: url(../img/cover.jpg);
    height: 115vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    z-index: 0;
    min-width: 100vw;
    max-width: 100vw;
}
@media (max-width:760px) {
    .home-container {
        max-width: 106vw;
        min-width: 106vw;
        background: none;
    }
    .name, .front-end {
        color: rgb(56, 56, 56);
    }
    .name, .front-end {
        font-size: 1.4em;
    }
    .surname, .web-dev {
        font-size: 1.6em;
    }
}
/* @media (max-width:850px) {
    .web-dev span {
        display: block;
        margin-left: 150px;
    }
} */

.bloc1 {
    align-self: center;
}

.download-cv {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #8d693e;
    padding: 18px 0px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    margin: 50px auto 0 auto;
    font-size: 1.2em;
    font-weight: 500;
}
.download-cv:hover {
    background-color: #b7915a;
}



/* @media (max-width:2050px) {
    .bloc1 {
        margin-top: 350px;
    }
} */
@media (max-width:1750px) {
    .bloc1 {
        margin-top: 250px;
    }
}
@media (max-width:1390px) {
    .bloc1 {
        margin-top: 150px;
    }
    .home-container {
        height: 118vh;
    }
}
@media (max-width:1280px) {
    h1 {
        margin-top: -1px !important;
    }
}

/* .bloc2 {
    max-width: 400px;
    margin-left: 13%;
    margin-top: 60px;
    background-color: #574c5b57;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: #585455;
}
.bloc2 h3 {
    font-size: 2em;
}
.bloc2 p {
    font-size: 1.5em;
} */

.home{
    color: #877f80;
}