
.nav {
    position: fixed;
    background-color:#252525d3;
    display: flex;
    justify-content: center;
    margin-top: -10px !important;
    top: 0;
    width: 100%;
    z-index: 99;
}
.nav li {
    list-style-type: none;
    min-width: 100px;
    min-height: 40px;
    text-align: center;
    padding-top: 25px;
}

.nav li .a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 30px;
    cursor: pointer
}
.nav li .a:hover{
    color: #8a683f;
}
.burger-menu {
    display: none;
}





@media (max-width:1280px) {
    .nav li {
        min-width: 80px;
    }
    .nav li .a {
        font-size: 15px;
        margin: 0 10px;
    }
}
@media screen and (max-width:850px) {
    .icones {
        display:none
    }
    /* .navbar a {
        visibility: hidden;
    } */
 
}
.close-menu-button {
    display: none;
}
@media screen and (max-width: 575px) {
    .nav {
        transform: translateX(-140%);
        position: fixed !important;
        top: 0px;
        /* overflow: hidden; */
        margin: auto !important;
        flex-direction: column;
        padding-left: 0;
        height: 100vh;
        transition: linear;
        transition-duration: 120ms;
        width: 50%;
        background-color: #8d693e;
        display: block;
        padding-top: 30px;
    }
    .displayMenu {
        transform: translateX(0);
    }
    .hideMenu {
        transform: translateX(-140%) !important;
    }
    .nav li:hover {
        color: #8a683f;
    }
    .nav li {
        border-bottom: 2px solid rgba(255, 255, 255, 0.336);
    }
    .nav li a {
        font-size: 1.5em;
    }
        .burger-menu {
            position: fixed;
            z-index: 99;
            display: block;
            height: 50px;
            cursor: pointer;
            width: 100%;
            top: 0;
            background: #4b484ad3;
        }
        .burger-menu::after {
            content: '';
            position: fixed;
            top: 5px;
            right: 15px;
            display: block;
            width: 30px;
            height: 2px;
            box-shadow: 0 10px 0 1px #131313, 0 20px 0 1px #131313, 0 30px 0 1px #131313;
        }
        h1 {
            margin-left: -20px !important;
            top: 15px !important;
        }

        .close-menu-button {
            position: fixed;
            top: 45vh;
            right: -55px;
            color: #fff;
            background-color: #8d693e;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-content: center;
            justify-content: center;
            font-size: 45px;
            padding-top: 1px;
            text-decoration: none;
        }
}