
.nav {
    position: fixed;
    background-color:#4b484ad3;
    display: flex;
    justify-content: center;
    margin-top: -10px !important;
    top: 0;
    width: 100%;
    z-index: 99;
}
.nav li {
    list-style-type: none;
    min-width: 100px;
    min-height: 40px;
    text-align: center;
    padding-top: 25px;
}

.nav li .a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 30px;
    cursor: pointer
}
.nav li .a:hover{
    color: #8a683f;
}





@media (max-width:1280px) {
    .nav li {
        min-width: 80px;
    }
    .nav li .a {
        font-size: 15px;
        margin: 0 10px;
    }
}
@media screen and (max-width:850px) {
    .icones {
        visibility: hidden;
    }
    .navbar a {
        visibility: hidden;
    }
    .burger-menu {
        position: fixed;
        z-index: 99;
        display: block;
        width: 50px;
        height: 50px;

        cursor: pointer;
        right: -85%;
        top: 10px
    }
    .burger-menu::after {
        content: '';
        position: relative;
        top: 2.5%;
        left: 90%;
        display: block;
        width: 30px;
        height: 0;
        box-shadow: 0 10px 0 1px #ffffff, 0 20px 0 1px #ffffff, 0 30px 0 1px #ffffff;
    }
}