.title-profil {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 75px auto 0 auto;
}
.profil {
    margin-top: 50px;
    display: flex;
}

.img-m {
    width: 50%;
    padding: 0px 75px;
    margin: auto 0;
}
.txt-m {
    width: 50%;
    padding: 0px 75px;
    margin: auto 0;
}

.img-m img {
    width: 100%;
}

.txt-m h2 {
    font-size: 2em !important;
    font-weight: bold;
}
.txt-m p {
    font-size: 1.2em;
}
.txt-m p span {
    color: #8d693e;
    font-weight: 700;
}

.part-2-profil {
    margin: 20px 75px;
}

.hided {
    visibility: hidden;
    margin: -5px 0 !important;
}

/*****Responsive******/
@media screen and (min-width: 1744px) {
    .profil .text-m {
        margin-top: 20px !important;
    }
}
@media screen and (min-width: 1800px) {
    .profil .text-m {
        margin-top: 40px !important;
    }
}