.container {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.separate {
    margin-top: 50px;;
    border-bottom: 3px solid #8d693e;
}

h1 {
    position: fixed;
    top: -10px;
    left: 50px;
    cursor: pointer;
}

@media (max-width:1280px) {
    h1{
        font-size: 20px;
        top: 10px !important;
    }
}

h1:hover {
    color: whitesmoke;
}


@import url('./css/navbar.css');
@import url('./css/home.css');
@import url('./css/icones.css');
@import url('./css/profil.css');
@import url('./css/contact.css');
@import url('./css/competence.css');
@import url('./css/project.css');
@import url('./css/scroll.css');